## Functions to derive DLS par score in T20 Matches

### Importing Libraries

In [1]:
import pandas as pd
import numpy as np

### Fetching DLS resource data

In [2]:
resource_table_df = pd.read_csv(f"dls_resource_data_for_t20s.csv")
resource_table_df

    balls      0     1     2     3     4     5     6     7     8    9
0     120  100.0  96.8  92.6  86.7  78.8  68.2  54.4  37.5  21.3  8.3
1     114   96.1  93.3  89.2  83.9  76.7  66.6  53.5  37.3  21.0  8.3
2     108   92.2  89.6  85.9  81.1  74.2  65.0  52.7  36.9  21.0  8.3
3     102   88.2  85.7  82.5  77.9  71.7  63.3  51.6  36.6  21.0  8.3
4      96   84.1  81.8  79.0  74.7  69.1  61.3  50.4  36.2  20.8  8.3
5      90   79.9  77.9  75.3  71.6  66.4  59.2  49.1  35.7  20.8  8.3
6      84   75.4  73.7  71.4  68.0  63.4  56.9  47.7  35.2  20.8  8.3
7      78   71.0  69.4  67.3  64.5  60.4  54.4  46.1  34.5  20.7  8.3
8      72   66.4  65.0  63.3  60.6  57.1  51.9  44.3  33.6  20.5  8.3
9      66   61.7  60.4  59.0  56.7  53.7  49.1  42.4  32.7  20.3  8.3
10     60   56.7  55.8  54.4  52.7  50.0  46.1  40.3  31.6  20.1  8.3
11     54   51.8  51.1  49.8  48.4  46.1  42.8  37.8  30.2  19.8  8.3
12     48   46.6  45.9  45.1  43.8  42.0  39.4  35.2  28.6  19.3  8.3
13     42   41.3  40.8  40.1  39.2  37.8  35.5  32.2  26.9  18.6  8.3
14     36   35.9  35.5  35.0  34.3  33.2  31.4  29.0  24.6  17.8  8.1
15     30   30.4  30.0  29.7  29.2  28.4  27.2  25.3  22.1  16.6  8.1
16     24   24.6  24.4  24.2  23.9  23.3  22.4  21.2  18.9  14.8  8.0
17     18   18.7  18.6  18.4  18.2  18.0  17.5  16.8  15.4  12.7  7.4
18     12   12.7  12.5  12.5  12.4  12.4  12.0  11.7  11.0   9.7  6.5
19      6    6.4   6.4   6.4   6.4   6.4   6.2   6.2   6.0   5.7  4.4
20      0    0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  0.0

### Scenario 1 --> Finding the parscore when First Innings is completed and Second innings is interrupted in the Middle

In [20]:
def get_par_score_when_first_innings_is_completed_and_second_innings_is_interrupted(
    total_overs_alloted_to_team_one,
    total_runs_scored_by_team_one,
    number_of_wickets_fallen_in_team_two_innings_till_interruption,
    total_overs_available_to_team_two_at_start_of_their_innings,
    total_overs_available_to_team_two_during_interruption
):
    target_df = pd.DataFrame(columns = ["S.No", "At Overs", "Expected Par Score"])
    resources_data = resource_table_df[f"{number_of_wickets_fallen_in_team_two_innings_till_interruption}"].to_list()[::-1]
    team_two_resource_at_start = 100
    team_two_remaining_resource_during_interruption = np.interp(total_overs_available_to_team_two_during_interruption, resource_table_df["balls"], resources_data)
    
    i = 1
    for remaining_balls in resource_table_df["balls"]:
        team_two_remaining_resource_at_restart = np.interp(remaining_balls, resource_table_df["balls"], resources_data)
        
        team_two_resource_lost = team_two_remaining_resource_during_interruption - team_two_remaining_resource_at_restart
        team_two_resource_remaining = team_two_resource_at_start - team_two_resource_lost
        team_two_par_score = total_runs_scored_by_team_one * (team_two_resource_remaining/100)
        target_df = target_df.append([{"S.No":i, "At Overs": remaining_balls, "Expected Par Score": team_two_par_score}], ignore_index = True)
    
    return target_df

In [66]:
resources_data = resource_table_df["0"][::-1]
np.interp(117, resource_table_df["balls"][::-1], resources_data)

98.05

In [ ]:
get_par_score_when_first_innings_is_completed_and_second_innings_is_interrupted(
20, 214, 0, 20, 117
)

In [51]:
total_resource_available_to_team_one = resource_table_df[resource_table_df["balls"] == 120]["0"].values[0]
total_resource_available_to_team_one

100.0

In [ ]:
total_resource_available_to_team_one = resource_table_df.loc[resource_table_df["balls"] == 120, "ColumnLabel"].values[0]

In [ ]:
def get_par_score_when_first_innings_is_completed_and_second_innings_is_interrupted(
    overs_available_to_team_one,
    runs_scored_by_team_one,
    overs_available_to_team_two_at_start,
    overs_remaining_to_team_two_during_interruption,
    overs_remaining_to_team_two_during_resumption
):
    
    total_resource_available_to_team_one = resource_table_df[resource_table_df[""]]

### function to convert overs to balls

In [67]:
def convert_overs_to_balls(overs):
    integer_part = int(overs)
    decimal_part = overs - integer_part
    balls = integer_part * 6 + round(decimal_part * 10)
    return balls

In [44]:
convert_overs_to_balls(41.4)

250

In [74]:
def get_par_score_when_first_innings_is_completed_and_second_innings_is_interrupted(
    overs_available_to_team_one,
    runs_scored_by_team_one,
    overs_available_to_team_two_at_start,
    overs_remaining_to_team_two_during_interruption,
    wickets_lost_by_team_two,
    overs_remaining_to_team_two_during_resumption
):
    resource_for_0_wickets_lost = resource_table_df["0"][::-1]
    
    total_resource_available_to_team_one_at_start = np.interp(
        convert_overs_to_balls(overs_available_to_team_one), resource_table_df["balls"][::-1], resource_for_0_wickets_lost
    )
    total_resource_available_to_team_two_at_start = np.interp(
        convert_overs_to_balls(overs_available_to_team_two_at_start), resource_table_df["balls"][::-1], resource_for_0_wickets_lost
    )
    
    team_two_remaining_resource_during_interruption = np.interp(
        convert_overs_to_balls(overs_remaining_to_team_two_during_interruption),
        resource_table_df["balls"][::-1],
        resource_table_df[f"{wickets_lost_by_team_two}"][::-1]
    )
    team_two_remaining_resource_during_resumption = np.interp(
        convert_overs_to_balls(overs_remaining_to_team_two_during_resumption),
        resource_table_df["balls"][::-1],
        resource_table_df[f"{wickets_lost_by_team_two}"][::-1]
    )
    
    resource_lost_by_team_two_due_to_interruption = team_two_remaining_resource_during_interruption - team_two_remaining_resource_during_resumption
    total_resource_remaining_to_team_two = total_resource_available_to_team_two_at_start - resource_lost_by_team_two_due_to_interruption
    
    par_score = runs_scored_by_team_one * (total_resource_remaining_to_team_two/total_resource_available_to_team_one_at_start)
    
    return par_score

In [75]:
get_par_score_when_first_innings_is_completed_and_second_innings_is_interrupted(
20, 214, 20, 19.3, 0, 14.3
)

170.34400000000002